:root{
    --primary-color: #333;
    --primary-shade: #222;
    --accent-color: #F6B93B;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Montserrat";
    overflow-x: hidden;
    position: relative;
}

.home{
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;
    text-align: center;
}

.home-content{
    z-index: 1;
    margin-left: 5rem;
}

.video-wrap{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
}

.video-wrap video{
    object-fit: none;
}

.overlay-vid{
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0rem;
    width: 100vw;
    background: #55C1Bd;
    opacity: 50%;
}

.home-content h1{
    font-weight: 750;
    font-size: 5rem;
    position: relative;
    top: -10rem;
    left: 0;
}

.home-content .accent{
    color: var(--accent-color);
} 

.btn {
    position: relative;
    top: 6rem;
    font-weight: 750;
    font-size: 1.3rem;
    border: 5px solid white;
    padding: 1rem 1.5rem;
}

.btn:hover{
    background: var(--accent-color);
}

h2.accent-line-text{
    border-left: 5px solid var(--accent-color);
    padding-left: .5rem;
}

/* Section: Over Mij */

#over{
    height: 100%;
    margin-left: 7rem;
    padding-top: 2rem;
}

p.over-txt{
    margin-top: 1.7rem;
}

.over-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 5rem;
}

.skill-group{
    background-color: #e2e2e2;
    height: 160px;
    width: 330px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: 0.2s ease;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.skill-icon{
    color: #333;
    margin-bottom: 1.2rem;
    padding-left: 0px;
}

h3.skill-text{
    color: #333;
    font-family: "Montserrat";
    font-weight: 800;
}

.skill-group:hover{
    height: 460px;
    background-color: #f5c669;
}

.skill-items-container{
    margin-top: 4.5rem;
    width: 80%;
    height: 40%;
    transition: 0.2s ease;
    opacity: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}


.skill-name{
    font-weight: 600;
    color: #333;
}

.skill-group:hover > .skill-items-container,
.skill-group:hover > .skill-read-more{
    opacity: 1;
}

.skill-heading-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.skill-read-more{
    opacity: 0;
    transition: 0.2s ease;
    position: relative;
    text-align: center;
}

.fa-chevron-down{
    margin-top: 0.8rem;
    margin-left: 3rem;
    color: #333;
    animation: arrow-up-down infinite 2s ;
    position: absolute;
}

@keyframes arrow-up-down{
    0%{
        top: 40px;
        left: 0;
    }
    50%{
        top: 30px;
        left: 0;
    }
    100%{
        top: 40px;
        left: 0;
    }
}

.read-more-text{
    color: #333;
    margin-top: 1.5rem;
    font-weight: 500;
    margin-left: 10px;
}

.read-more-text:hover{
    color: white;
}

/* Section: Contact */

#contact{
    height: 100%;
    margin-left: 7rem;
    margin-top: 0rem;
    padding-top: 2rem;
    width: 40vw;
}

#contact-uitleg{
    margin-bottom: 1rem;
}

img{
    display: inline-block;
    width: 600px;
    margin-left: 5rem;
}

#contact > p{
    margin-top: 1.5rem;
}

.contact-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.contact-container > form{
    width: 100%;
}

input{
    border: #333 solid 5px;
    margin: 0 0 1.5rem 0;
    height: 2.5rem;
    padding-left: .6rem;
    outline: none;
    background-color: white;
    font-family: "Montserrat";
}

input:focus{
    border: 5px solid var(--accent-color);
}

textarea{
    border: 5px solid #333;
    margin: 0rem 0rem.8rem 0;
    padding-left: .6rem;
    padding-top: 0.2rem;
    width: 100%;
    font-size: 1rem;
    font-family: "Montserrat";
    resize: none;
}

textarea:focus{
    outline: none;
    border: 5px solid var(--accent-color);
}

input#submit{
    padding-right: .6rem;
    font-weight: 700;
    width: 50%;
    margin-top: 1.3rem;
}

input#submit:hover{
    background-color: var(--accent-color);
    color: white;
    border: none;
}


.container-input{
   display: flex;
   justify-content: space-between;
}

.voornaam, .naam{
    width: 47%;
}

.voornaam > input, .naam > input{
    width: 100%;
}

.email > input{
    width: 100%;
    margin-top: 1.2rem;
}

.submit-div{
    display: flex;
    justify-content: center;
}

.input-div, .email, .message{
    position: relative;
}

.word-counter{
    position: absolute;
    bottom: 20px;
    right: 9px;
}

label{
    position: absolute;
    top: 0;
    left: 4px;
    margin: 0.65rem 0 1.5rem 0;
    height: 2.5rem;
    padding-left: .6rem;
    outline: none;
    font-family: "Montserrat";
    z-index: 1;
    opacity: .7;
    font-size: 0.9rem;
    transition: .5s;
}

#email-tekst{
    top: 20px;
    left: 4px;
}

input:focus ~ #email-tekst{
    top: -10px;
    color: var(--accent-color);
    font-weight: 600;
    left: -5px;
}

input:valid ~ #email-tekst{
    color: #333;
    top: -10px;
    left: -5px;
}

input:focus ~ label{
    top: -30px;
    color: var(--accent-color);
    font-weight: 600;
    left: -5px;
}

input:valid ~ label{   
    color: #333;
    top: -30px;
    left: -5px;
}

textarea:focus::placeholder{
    color: var(--accent-color);
}

label:hover{
    cursor: text;
}

.submit-error{
    color: #BE2E2E;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: .8rem;
    position: absolute;
    top: 2.5rem;
    left: 0;
    display: none;
}

.error3{
    top: 3.7rem;
}

.error4{
    top: 13rem;
}

.parent-contact-img{
    display: flex;
}

/* Projects */

#projects{
    height: 100%;
    margin-left: 7rem;
    margin-top: 2rem;
    overflow: hidden;
}

.project-container{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 220px);
    grid-gap: 4rem;
}

.project{
    height: 15rem;
    width: 15rem;
    position: relative;
    border: 8px solid var(--accent-color);
}

.project1{background: url('./rsc/Projects/project1.png') center center/cover;}
.project2{background: url('./rsc/Projects/project2.png') center center/cover;}
.project3{background: url('./rsc/Projects/project3.png') center center/cover;}
.project4{background: url('./rsc/Projects/project4.png') center center/cover;}
.project5{background: url('./rsc/Projects/project5.png') center center/cover;}
.project6{background: url('./rsc/Projects/project6.png') center center/cover;}
.project7{background: url('./rsc/Projects/project7.png') center center/cover;}

.project-title{
    z-index: 1;
    opacity: 0;
    transition: .2s ease;
    color: #fff;
    text-align: center;
    font-family: "Montserrat";
    font-weight: 800;
    font-size: 1.8rem;
    position: relative;
    top: -10rem;
}

.gradient-overlay{
    width: 100%;
    height: 100%;
}

.gradient-overlay:before{
    content: '';
    display: block;
    position: absolute;
    height: 0%;
    width: 0%;
    bottom: 0;
    transition: all 0.2s ease-in-out;
    background: linear-gradient(45deg, rgba(171,0,255,.7) 0%, rgba(48,255,198,.7) 100%);
}

.project:hover .gradient-overlay:before{
    width: 100%;
    height: 100%;
}

.project:hover .project-title{
    opacity: 1;
}

/* Footer */
#footer{
    height: 10vh;
    width: 100vw;
    background-color: var(--primary-color);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* MEDIA QUERIES */

@media only screen and(max-width: 600px){
    .home{
        margin-left: 0;
        margin-top: 5rem;
    }

    .home-content{
        z-index: 1;
        margin-top: 5rem;
        position: absolute;
    }
    
    .video-wrap{
        position: absolute;
        top: 5rem;
        left: 0rem;
        height: 100vh;
        overflow: hidden;
    }
    
}


@media only screen and (max-width: 600px){

    .navbar{
        width: 100vw;
        height: 5rem;
        display: flex;
        justify-content: center;
    }

    .navbar:hover{
        width: 100vw;
    }

    .nav-items{
        flex-direction: row;
    }

    .nav-link{
        justify-content: center;
    }

    .first-nav{
        display: none;
    }

    .navbar:hover .link-text {
        display: none;
    }

    .navbar .nav-logo{
        display: none;
    }

    .home{
        width: 100vw;
        margin-top: 5rem;
    }

    .home-content{
        width: 100vw;
        margin-left: 0rem;
        margin-top: 5rem;
    }

    .overlay-vid{
        width: 100vw;
    }

    .home-content{
        margin: auto;
    }

    .home-content h1{
        font-size: 3rem;
    }

    .video-wrap video{
        position: relative;
        top: 0;
        left: -25rem;
    }

    .contact-img{
        display: none;
    }

    #over{
        margin-left: 0.5rem;
    }

    h2.accent-line-text{
        margin-top: 4rem;
    }

    .over-container{
        margin-top: 3.4rem;
    }

    #contact{
        margin: 2rem;
    }

    .btn{
        top: 3rem;
    }

    #projects{
        margin-left: 0.5rem;
    }
}
 
/* @media only screen and (max-width: 1409px){
   
} */

@media only screen and (max-width: 1000px){
    .contact-img{
        display: none;
    }

    #contact{
        width: 100vw;
    }
}

@media only screen and (max-width: 790px){ 

    .skill-group-1{
        margin-bottom: 2rem;
    }
    }
    